
.containerControllerLogin {
    background-image: url('../assets/logbg.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    .cardl {
      max-width: 500px;
      margin: 0 auto;
      box-shadow: 12px 15px 40px 2px rgba(0, 0, 0, 0.5);
      // box-shadow: 9px 10px 35px -1px rgba(0,0,0,0.75);
      // -webkit-box-shadow: 9px 10px 35px -1px rgba(0,0,0,0.75);
      // -moz-box-shadow: 9px 10px 35px -1px rgba(0,0,0,0.75);

      border-radius: 10px;
      text-align: center;
      opacity: 1;
      h1 {
        font-weight: 600;
      }
      h2 {
        margin-bottom: 12px;
        color: #8c8c8c;
        span {
          color: #4a92ff;
        }
      }
      .loginButton {
        border-radius: 8px;
        width : 100%;
        background-color: #4a92ff;
      }
    }
  }
  