
.containerControllerLogin {
    background-image: url('../assets/radiant-gradient.svg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    .card {
      max-width: 500px;
      margin: 0 auto;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      text-align: center;
      h1 {
        font-weight: 600;
      }
      h2 {
        margin-bottom: 12px;
        color: #8c8c8c;
        span {
          color: #4a92ff;
        }
      }
      .loginButton {
        border-radius: 8px;
        width : 100%;
        background-color: #4a92ff;
      }
    }
  }
  